---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>hi wanderer! let me be your guide.</h1>
			<p>
				you are probably a friend of mine or a recruiter tbh, and you
				are probably thinking to yourself, "what the fuck is this? why
				did this jackass link me this shitty site?". well my friend,
				this is my sanctuary, there is no react or even js around here.
				around here i warn people about their privacy and how easy it is
				to find their personal data on the interwebs.
			</p>
			<p>
				here i showcase examples of those <b> "digs"</b> done by just me.
				bear in mind that in some cases, i will be using the <b>
					"meta"
				</b>, which is general info i use to conclude stuff. for
				example, if you graduated from high school in 2018, you are
				probably born around 2000, because you graduate when you are
				~18.
			</p>
			<p>
				<b>
					<em
						>ps: if you are a recruiter, this site explains why i
						value my privacy and i insist on c2c contracts.
					</em>
				</b>
			</p>
		</main>
	</body>
</html>
