---
import { CollectionEntry, getCollection } from "astro:content";
import DigsPost from "../../layouts/DigsPost.astro";

export async function getStaticPaths() {
	const posts = await getCollection("digs");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"digs">;

const post = Astro.props;
const { Content } = await post.render();
---

<DigsPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</DigsPost>
